/* Header */
header{
  text-align: center;
  font-size: 15px;
}

/* Body */
body {
  font-family: sans-serif;
  background-color: #F4F6FF;
  color: #F8F1F1;
  margin: 0;
  padding: 0;
}
.unit-selector {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.unit-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px; 
}
.unit-field label {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;       
    font-weight: bold;
}

.unit-field select {
    padding: 0.75rem 1rem;   
    font-size: 1.2rem;       
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #F8F1F1;
}
.container {
  max-width: 600px;
  background-color: #10375C;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
}

/* Input and Output */
input, textarea {
  width: 97%;
  padding: 10px;
  font-size: 1em;
  background-color: #F8F1F1;
}
output, textarea{
    font-family: sans-serif;
    background-color: #F8F1F1;
}

/* Buttons */
button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.konversi-btn {
  background-color: #EB8317;
  font-size: medium;
  color: black;
  min-width: 150px;
  padding: 10px;
}

.reset-btn {
  background-color: #f67280;
  font-size: medium;
  color: black;
  min-width: 150px;
  padding: 10px;
}

.reverse-btn {
  background-color: #F3C623;
  font-size: medium;
  min-width: 150px;
  padding: 10px;
}

.rumus p {
  margin: 5px 0;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}
